<!-- Header -->
    <header style="background-image:url('../img/santiago.jpg')";>
        <div class="container">
            <div class="intro-text">
                <div class="intro-title">Fab13</div>
                <div class="intro-date">31 July - 6 August 2017</div>
                <div class="intro-message">Website coming soon. <br>⤿ Sign up below for updates and early bird tickets.</div>
                <a href="" class="page-scroll btn btn-xl" style="margin-right: 20px">▶   Watch the trailer</a>
                <a href="mailto:info@fablabsantiago.org" class="page-scroll btn btn-xl black">Keep me updated</a>
        
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->


