<header>
      <div class="main-banner">
      </div> 

      <div class="secondary-banner">
        <div class= "row">

          <div class="col-sm-6 col-xs-12">
             <img src= "/img/title.svg" style ="padding-top: 60px"/> 
          </div> 
          
          <div class = "col-sm-6 col-xs-12">
              <a href="https://welcu.com/fab-lab-santiago/fab13" class="page-scroll btn btn-xl"><i class="fa fa-ticket fa-1x"></i>&nbsp; &nbsp;Buy tickets</a>
              
              <a class="age-scroll btn clear" data-toggle="modal" data-target="#subscribe"><i class="fa fa-envelope fa-1x"></i>&nbsp; &nbsp; Keep me updated</a>
          </div>

        </div>
      </div>   

</header>