<header>
  <div class="main-banner">
  </div> 

  <div class="secondary-banner">
    <div class= "row">
      <div class="col-xs-12 col-sm-4 col-md-6">
        <img src= "/img/title.svg" style ="padding-top: 60px; padding-bottom: 20px;"/> 
      </div> 
      <div class="col-xs-12 col-sm-8 col-md-6">
        <a class="page-scroll btn btn-xl" data-toggle="modal" data-target="#buy"><i class="fa fa-ticket fa-1x"></i>&nbsp; &nbsp;Buy tickets</a>
        <a class="page-scroll btn claro" data-toggle="modal" data-target="#subscribe"><i class="fa fa-envelope fa-1x" ></i>&nbsp; &nbsp; Keep me updated</a>
      </div>
    </div>
  </div> 

  <!-- Mailchimp 'keep me updated' Modal -->
  <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Subscribe to FAB13 news!</h4>
        </div>
        <div class="modal-body">

          <form action="//fablabbcn.us2.list-manage.com/subscribe/post?u=d67ba8deb34a23a222ec4eb8a&amp;id=bf365330eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
            <div class="row">

              <div class="col-xs-12 col-sm-12" id="mc_embed_signup_scroll">

                <div class="mc-field-group form-group input-group input-group-lg">

                  <span class="input-group-addon" id="sizing-addon1">@</span>

                  <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email">

                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_80eaa86e948880d8e05720a98_a489708aef" tabindex="-1" value=""></div>

                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="page-scroll btn btn-xl black center-block" style="margin-bottom: 30px;">

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Buy tickets Filter Modal -->
  <div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" style= "background-color: #ffffff; height: 400px;">
        <div class="modal-header">
          <button type="button" class="close" style="color: #000" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="background-color: #ffffff">
          <form>
            <p style="color: #000">Are you a Fab Lab Member?</p>
            <p style="color: #000"> Please enter the Early Bird Code for Fab Lab Network Members we have sent you:
              <input type="password" name="text1">
              <input type="button" value="Check In" name="Submit" onclick=javascript:validate(text1.value,"FAB13CHILE")>
            </p>

            <p style="color: #000">If not, please register below. You will be notified once we open access to general Early Bird tickets!  </p>

            <a class="typeform-share button" href="https://fabcityresearch.typeform.com/to/dQ8Pwr" data-mode="1" target="_blank">Register</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script language = "javascript">


  function validate(text1,text2)

  {

   if (text1==text2)

     load('https://welcu.com/fab-lab-santiago/fab13');

   else

   {

    load('failure.htm');

  }

}

function load(url)

{

 location.href=url;

}

</script>



</header>